@font-face {
    font-family: 'icomoon';
    src: url('icomoon.eot');
    src: url('icomoon.eot') format('embedded-opentype'), url('icomoon.ttf') format('truetype'), url('icomoon.woff') format('woff'), url('icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon-erp {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-erp-1:before {
    content: "\e900";
}

.icon-erp-2:before {
    content: "\e901";
}

.icon-erp-3:before {
    content: "\e902";
}

.icon-erp-4:before {
    content: "\e903";
}

.icon-erp-5:before {
    content: "\e904";
}

.icon-erp-6:before {
    content: "\e905";
}

.icon-erp-7:before {
    content: "\e906";
}

.icon-erp-8:before {
    content: "\e907";
}

.icon-erp-9:before {
    content: "\e908";
}

.icon-erp-10:before {
    content: "\e909";
}

.icon-erp-11:before {
    content: "\e90a";
}

.icon-erp-12:before {
    content: "\e90b";
}

.icon-erp-13:before {
    content: "\e90c";
}

.icon-erp-14:before {
    content: "\e90d";
}

.icon-erp-15:before {
    content: "\e90e";
}

.icon-erp-16:before {
    content: "\e90f";
}

.icon-erp-17:before {
    content: "\e910";
}

.icon-erp-18:before {
    content: "\e911";
}

.icon-erp-19:before {
    content: "\e912";
}

.icon-erp-20:before {
    content: "\e913";
}

.icon-erp-21:before {
    content: "\e914";
}

.icon-erp-22:before {
    content: "\e915";
}

.icon-erp-23:before {
    content: "\e916";
}

.icon-erp-24:before {
    content: "\e917";
}

.icon-erp-25:before {
    content: "\e918";
}

.icon-erp-26:before {
    content: "\e919";
}

.icon-erp-27:before {
    content: "\e91a";
}

.icon-erp-28:before {
    content: "\e91b";
}

.icon-erp-29:before {
    content: "\e91c";
}

.icon-erp-30:before {
    content: "\e91d";
}

.icon-erp-31:before {
    content: "\e91e";
}

.icon-erp-32:before {
    content: "\e91f";
}

.icon-erp-33:before {
    content: "\e920";
}

.icon-erp-34:before {
    content: "\e921";
}

.icon-erp-35:before {
    content: "\e922";
}

.icon-erp-36:before {
    content: "\e923";
}

.icon-erp-37 .path1:before {
    content: "\e924";
}

.icon-erp-37 .path2:before {
    content: "\e925";
    margin-left: -1em;
}

.icon-erp-37 .path3:before {
    content: "\e926";
    margin-left: -1em;
}

.icon-erp-37 .path4:before {
    content: "\e927";
    margin-left: -1em;
}

.icon-erp-37 .path5:before {
    content: "\e928";
    margin-left: -1em;
}

.icon-erp-37 .path6:before {
    content: "\e929";
    margin-left: -1em;
}

.icon-erp-38 .path1:before {
    content: "\e92a";
}

.icon-erp-38 .path2:before {
    content: "\e92b";
    margin-left: -1em;
}

.icon-erp-38 .path3:before {
    content: "\e92c";
    margin-left: -1em;
}

.icon-erp-39:before {
    content: "\e92d";
}

.icon-erp-40:before {
    content: "\e92e";
}

.icon-erp-41:before {
    content: "\e92f";
}

.icon-erp-42:before {
    content: "\e930";
}

.icon-erp-43:before {
    content: "\e931";
}

.icon-erp-44 .path1:before {
    content: "\e932";
}

.icon-erp-44 .path2:before {
    content: "\e933";
    margin-left: -1em;
}

.icon-erp-44 .path3:before {
    content: "\e934";
    margin-left: -1em;
}

.icon-erp-44 .path4:before {
    content: "\e935";
    margin-left: -1em;
}

.icon-erp-44 .path5:before {
    content: "\e936";
    margin-left: -1em;
}

.icon-erp-45:before {
    content: "\e937";
}

.icon-erp-46:before {
    content: "\e938";
}

.icon-erp-47:before {
    content: "\e939";
}

.icon-erp-48:before {
    content: "\e93a";
}

.icon-erp-49:before {
    content: "\e93b";
}

.icon-erp-50:before {
    content: "\e93c";
}

.icon-erp-51:before {
    content: "\e93d";
}

.icon-erp-52:before {
    content: "\e93e";
}

.icon-erp-53:before {
    content: "\e93f";
}

.icon-erp-54:before {
    content: "\e940";
}

.icon-erp-55:before {
    content: "\e941";
}

.icon-erp-56:before {
    content: "\e942";
}

.icon-erp-57 .path1:before {
    content: "\e943";
}

.icon-erp-57 .path2:before {
    content: "\e944";
    margin-left: -1em;
}

.icon-erp-58:before {
    content: "\e945";
}

.icon-erp-59:before {
    content: "\e946";
}

.icon-erp-60:before {
    content: "\e947";
}

.icon-erp-61 .path1:before {
    content: "\e948";
}

.icon-erp-61 .path2:before {
    content: "\e949";
    margin-left: -1em;
}

.icon-erp-61 .path3:before {
    content: "\e94a";
    margin-left: -1em;
}

.icon-erp-61 .path4:before {
    content: "\e94b";
    margin-left: -1em;
}

.icon-erp-61 .path5:before {
    content: "\e94c";
    margin-left: -1em;
}

.icon-erp-61 .path6:before {
    content: "\e94d";
    margin-left: -1em;
}

.icon-erp-61 .path7:before {
    content: "\e94e";
    margin-left: -1em;
}

.icon-erp-61 .path8:before {
    content: "\e94f";
    margin-left: -1em;
}

.icon-erp-61 .path9:before {
    content: "\e950";
    margin-left: -1em;
}

.icon-erp-61 .path10:before {
    content: "\e951";
    margin-left: -1em;
}

.icon-erp-61 .path11:before {
    content: "\e952";
    margin-left: -1em;
}

.icon-erp-61 .path12:before {
    content: "\e953";
    margin-left: -1em;
}

.icon-erp-61 .path13:before {
    content: "\e954";
    margin-left: -1em;
}

.icon-erp-62:before {
    content: "\e955";
}

.icon-erp-63:before {
    content: "\e956";
}

.icon-erp-64:before {
    content: "\e957";
}

.icon-erp-65 .path1:before {
    content: "\e958";
}

.icon-erp-65 .path2:before {
    content: "\e959";
    margin-left: -1em;
}

.icon-erp-65 .path3:before {
    content: "\e95a";
    margin-left: -1em;
}

.icon-erp-66:before {
    content: "\e95b";
}

.icon-erp-67:before {
    content: "\e95c";
}

.icon-erp-68:before {
    content: "\e95d";
}

.icon-erp-69:before {
    content: "\e95e";
}

.icon-erp-70 .path1:before {
    content: "\e95f";
}

.icon-erp-70 .path2:before {
    content: "\e960";
    margin-left: -1em;
}

.icon-erp-70 .path3:before {
    content: "\e961";
    margin-left: -1em;
}

.icon-erp-70 .path4:before {
    content: "\e962";
    margin-left: -1em;
}

.icon-erp-70 .path5:before {
    content: "\e963";
    margin-left: -1em;
}

.icon-erp-70 .path6:before {
    content: "\e964";
    margin-left: -1em;
}

.icon-erp-70 .path7:before {
    content: "\e965";
    margin-left: -1em;
}

.icon-erp-70 .path8:before {
    content: "\e966";
    margin-left: -1em;
}

.icon-erp-70 .path9:before {
    content: "\e967";
    margin-left: -1em;
}

.icon-erp-70 .path10:before {
    content: "\e968";
    margin-left: -1em;
}

.icon-erp-70 .path11:before {
    content: "\e969";
    margin-left: -1em;
}

.icon-erp-70 .path12:before {
    content: "\e96a";
    margin-left: -1em;
}

.icon-erp-70 .path13:before {
    content: "\e96b";
    margin-left: -1em;
}

.icon-erp-70 .path14:before {
    content: "\e96c";
    margin-left: -1em;
}

.icon-erp-70 .path15:before {
    content: "\e96d";
    margin-left: -1em;
}

.icon-erp-71:before {
    content: "\e96e";
}

.icon-erp-72:before {
    content: "\e96f";
}

.icon-erp-73:before {
    content: "\e970";
}

.icon-erp-74:before {
    content: "\e971";
}

.icon-erp-75 .path1:before {
    content: "\e972";
}

.icon-erp-75 .path2:before {
    content: "\e973";
    margin-left: -1em;
}

.icon-erp-75 .path3:before {
    content: "\e974";
    margin-left: -1em;
}

.icon-erp-75 .path4:before {
    content: "\e975";
    margin-left: -1em;
}

.icon-erp-75 .path5:before {
    content: "\e976";
    margin-left: -1em;
}

.icon-erp-75 .path6:before {
    content: "\e977";
    margin-left: -1em;
}

.icon-erp-75 .path7:before {
    content: "\e978";
    margin-left: -1em;
}

.icon-erp-75 .path8:before {
    content: "\e979";
    margin-left: -1em;
}

.icon-erp-76:before {
    content: "\e97a";
}

.icon-erp-77:before {
    content: "\e97b";
}

.icon-erp-78 .path1:before {
    content: "\e97c";
}

.icon-erp-78 .path2:before {
    content: "\e97d";
    margin-left: -1em;
}

.icon-erp-78 .path3:before {
    content: "\e97e";
    margin-left: -1em;
}

.icon-erp-78 .path4:before {
    content: "\e97f";
    margin-left: -1em;
}

.icon-erp-78 .path5:before {
    content: "\e980";
    margin-left: -1em;
}

.icon-erp-78 .path6:before {
    content: "\e981";
    margin-left: -1em;
}

.icon-erp-78 .path7:before {
    content: "\e982";
    margin-left: -1em;
}

.icon-erp-78 .path8:before {
    content: "\e983";
    margin-left: -1em;
}

.icon-erp-78 .path9:before {
    content: "\e984";
    margin-left: -1em;
}

.icon-erp-78 .path10:before {
    content: "\e985";
    margin-left: -1em;
}

.icon-erp-78 .path11:before {
    content: "\e986";
    margin-left: -1em;
}

.icon-erp-78 .path12:before {
    content: "\e987";
    margin-left: -1em;
}

.icon-erp-78 .path13:before {
    content: "\e988";
    margin-left: -1em;
}

.icon-erp-79:before {
    content: "\e989";
}

.icon-erp-80 .path1:before {
    content: "\e98a";
}

.icon-erp-80 .path2:before {
    content: "\e98b";
    margin-left: -1em;
}

.icon-erp-80 .path3:before {
    content: "\e98c";
    margin-left: -1em;
}

.icon-erp-80 .path4:before {
    content: "\e98d";
    margin-left: -1em;
}

.icon-erp-80 .path5:before {
    content: "\e98e";
    margin-left: -1em;
}

.icon-erp-80 .path6:before {
    content: "\e98f";
    margin-left: -1em;
}

.icon-erp-80 .path7:before {
    content: "\e990";
    margin-left: -1em;
}

.icon-erp-80 .path8:before {
    content: "\e991";
    margin-left: -1em;
}

.icon-erp-80 .path9:before {
    content: "\e992";
    margin-left: -1em;
}

.icon-erp-81:before {
    content: "\e993";
}

.icon-erp-82:before {
    content: "\e994";
}

.icon-erp-83:before {
    content: "\e995";
}

.icon-erp-84:before {
    content: "\e996";
}

.icon-erp-85:before {
    content: "\e997";
}

.icon-erp-86 .path1:before {
    content: "\e998";
}

.icon-erp-86 .path2:before {
    content: "\e999";
    margin-left: -1em;
}

.icon-erp-86 .path3:before {
    content: "\e99a";
    margin-left: -1em;
}

.icon-erp-86 .path4:before {
    content: "\e99b";
    margin-left: -1em;
}

.icon-erp-86 .path5:before {
    content: "\e99c";
    margin-left: -1em;
}

.icon-erp-86 .path6:before {
    content: "\e99d";
    margin-left: -1em;
}

.icon-erp-86 .path7:before {
    content: "\e99e";
    margin-left: -1em;
}

.icon-erp-86 .path8:before {
    content: "\e99f";
    margin-left: -1em;
}

.icon-erp-86 .path9:before {
    content: "\e9a0";
    margin-left: -1em;
}

.icon-erp-87:before {
    content: "\e9a1";
}

.icon-erp-88:before {
    content: "\e9a2";
}

.icon-erp-89:before {
    content: "\e9a3";
}

.icon-erp-90:before {
    content: "\e9a4";
}

.icon-erp-91 .path1:before {
    content: "\e9a5";
}

.icon-erp-91 .path2:before {
    content: "\e9a6";
    margin-left: -1em;
}

.icon-erp-91 .path3:before {
    content: "\e9a7";
    margin-left: -1em;
}

.icon-erp-92 .path1:before {
    content: "\e9a8";
}

.icon-erp-92 .path2:before {
    content: "\e9a9";
    margin-left: -1em;
}

.icon-erp-92 .path3:before {
    content: "\e9aa";
    margin-left: -1em;
}

.icon-erp-92 .path4:before {
    content: "\e9ab";
    margin-left: -1em;
}

.icon-erp-92 .path5:before {
    content: "\e9ac";
    margin-left: -1em;
}

.icon-erp-92 .path6:before {
    content: "\e9ad";
    margin-left: -1em;
}

.icon-erp-92 .path7:before {
    content: "\e9ae";
    margin-left: -1em;
}

.icon-erp-92 .path8:before {
    content: "\e9af";
    margin-left: -1em;
}

.icon-erp-92 .path9:before {
    content: "\e9b0";
    margin-left: -1em;
}

.icon-erp-92 .path10:before {
    content: "\e9b1";
    margin-left: -1em;
}

.icon-erp-92 .path11:before {
    content: "\e9b2";
    margin-left: -1em;
}

.icon-erp-92 .path12:before {
    content: "\e9b3";
    margin-left: -1em;
}

.icon-erp-92 .path13:before {
    content: "\e9b4";
    margin-left: -1em;
}

.icon-erp-92 .path14:before {
    content: "\e9b5";
    margin-left: -1em;
}

.icon-erp-93:before {
    content: "\e9b6";
}

.icon-erp-94:before {
    content: "\e9b7";
}

.icon-erp-95 .path1:before {
    content: "\e9b8";
}

.icon-erp-95 .path2:before {
    content: "\e9b9";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

.icon-erp-95 .path3:before {
    content: "\e9ba";
    margin-left: -1em;
}

.icon-erp-95 .path4:before {
    content: "\e9bb";
    margin-left: -1em;
}

.icon-erp-95 .path5:before {
    content: "\e9bc";
    margin-left: -1em;
}

.icon-erp-95 .path6:before {
    content: "\e9bd";
    margin-left: -1em;
}

.icon-erp-95 .path7:before {
    content: "\e9be";
    margin-left: -1em;
}

.icon-erp-95 .path8:before {
    content: "\e9bf";
    margin-left: -1em;
}

.icon-erp-95 .path9:before {
    content: "\e9c0";
    margin-left: -1em;
}

.icon-erp-95 .path10:before {
    content: "\e9c1";
    margin-left: -1em;
}

.icon-erp-95 .path11:before {
    content: "\e9c2";
    margin-left: -1em;
}

.icon-erp-96:before {
    content: "\e9c3";
}

.icon-erp-97 .path1:before {
    content: "\e9c4";
}

.icon-erp-97 .path2:before {
    content: "\e9c5";
    margin-left: -1em;
}

.icon-erp-97 .path3:before {
    content: "\e9c6";
    margin-left: -1em;
}

.icon-erp-97 .path4:before {
    content: "\e9c7";
    margin-left: -1em;
}

.icon-erp-98:before {
    content: "\e9c8";
}

.icon-erp-99:before {
    content: "\e9c9";
}

.icon-erp-100:before {
    content: "\e9ca";
}

.icon-erp-101 .path1:before {
    content: "\e9cb";
}

.icon-erp-101 .path2:before {
    content: "\e9cc";
    margin-left: -1em;
}

.icon-erp-101 .path3:before {
    content: "\e9cd";
    margin-left: -1em;
}

.icon-erp-101 .path4:before {
    content: "\e9ce";
    margin-left: -1em;
}

.icon-erp-101 .path5:before {
    content: "\e9cf";
    margin-left: -1em;
}

.icon-erp-101 .path6:before {
    content: "\e9d0";
    margin-left: -1em;
}

.icon-erp-101 .path7:before {
    content: "\e9d1";
    margin-left: -1em;
}

.icon-erp-101 .path8:before {
    content: "\e9d2";
    margin-left: -1em;
}

.icon-erp-101 .path9:before {
    content: "\e9d3";
    margin-left: -1em;
}

.icon-erp-101 .path10:before {
    content: "\e9d4";
    margin-left: -1em;
}

.icon-erp-102 .path1:before {
    content: "\e9d5";
}

.icon-erp-102 .path2:before {
    content: "\e9d6";
    margin-left: -1em;
}

.icon-erp-102 .path3:before {
    content: "\e9d7";
    margin-left: -1em;
}

.icon-erp-102 .path4:before {
    content: "\e9d8";
    margin-left: -1em;
}

.icon-erp-103 .path1:before {
    content: "\e9d9";
}

.icon-erp-103 .path2:before {
    content: "\e9da";
    margin-left: -1em;
}

.icon-erp-104:before {
    content: "\e9db";
}

.icon-erp-105 .path1:before {
    content: "\e9dc";
}

.icon-erp-105 .path2:before {
    content: "\e9dd";
    margin-left: -1em;
}

.icon-erp-105 .path3:before {
    content: "\e9de";
    margin-left: -1em;
}

.icon-erp-105 .path4:before {
    content: "\e9df";
    margin-left: -1em;
}

.icon-erp-105 .path5:before {
    content: "\e9e0";
    margin-left: -1em;
}

.icon-erp107:before {
    content: "\e9e1";
}

.icon-erp106 .path1:before {
    content: "\e9e2";
}

.icon-erp106 .path2:before {
    content: "\e9e3";
    margin-left: -1em;
}

.icon-erp106 .path3:before {
    content: "\e9e4";
    margin-left: -1em;
}

.icon-erp106 .path4:before {
    content: "\e9e5";
    margin-left: -1em;
}

.icon-erp106 .path5:before {
    content: "\e9e6";
    margin-left: -1em;
}

.icon-erp106 .path6:before {
    content: "\e9e7";
    margin-left: -1em;
}

.icon-erp106 .path7:before {
    content: "\e9e8";
    margin-left: -1em;
}

.icon-erp106 .path8:before {
    content: "\e9e9";
    margin-left: -1em;
}