@font-face {
    font-family: 'icomoon';
    src: url('icomoon.eot');
    src: url('icomoon.eot') format('embedded-opentype'), url('icomoon.ttf') format('truetype'), url('icomoon.woff') format('woff'), url('icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon-erp {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-erp-1:before {
    content: "\e900";
}

.icon-erp-2:before {
    content: "\e901";
}

.icon-erp-3:before {
    content: "\e902";
}

.icon-erp-4:before {
    content: "\e903";
}

.icon-erp-5:before {
    content: "\e904";
}

.icon-erp-6:before {
    content: "\e905";
}

.icon-erp-7:before {
    content: "\e906";
}

.icon-erp-8:before {
    content: "\e907";
}

.icon-erp-9:before {
    content: "\e908";
}

.icon-erp-10:before {
    content: "\e909";
}

.icon-erp-11:before {
    content: "\e90a";
}

.icon-erp-12:before {
    content: "\e90b";
}

.icon-erp-13:before {
    content: "\e90c";
}

.icon-erp-14:before {
    content: "\e90d";
}

.icon-erp-15:before {
    content: "\e90e";
}

.icon-erp-16:before {
    content: "\e90f";
}

.icon-erp-17:before {
    content: "\e910";
}

.icon-erp-18:before {
    content: "\e911";
}

.icon-erp-19:before {
    content: "\e912";
}

.icon-erp-20:before {
    content: "\e913";
}

.icon-erp-21:before {
    content: "\e914";
}

.icon-erp-22:before {
    content: "\e915";
}

.icon-erp-23:before {
    content: "\e916";
}

.icon-erp-24:before {
    content: "\e917";
}

.icon-erp-25:before {
    content: "\e918";
}

.icon-erp-26:before {
    content: "\e919";
}

.icon-erp-27:before {
    content: "\e91a";
}

.icon-erp-28:before {
    content: "\e91b";
}

.icon-erp-29:before {
    content: "\e91c";
}

.icon-erp-30:before {
    content: "\e91d";
}

.icon-erp-31:before {
    content: "\e91e";
}

.icon-erp-32:before {
    content: "\e91f";
}

.icon-erp-33:before {
    content: "\e920";
}

.icon-erp-34:before {
    content: "\e921";
}

.icon-erp-35:before {
    content: "\e922";
}

.icon-erp-36:before {
    content: "\e923";
}

.icon-erp-37:before {
    content: "\e924";
}

.icon-erp-38:before {
    content: "\e925";
}

.icon-erp-39:before {
    content: "\e926";
}

.icon-erp-40:before {
    content: "\e927";
}

.icon-erp-41:before {
    content: "\e928";
}

.icon-erp-42:before {
    content: "\e929";
}

.icon-erp-43:before {
    content: "\e92a";
}

.icon-erp-44:before {
    content: "\e92b";
}

.icon-erp-45:before {
    content: "\e92c";
}

.icon-erp-46:before {
    content: "\e92d";
}

.icon-erp-47:before {
    content: "\e92e";
}

.icon-erp-48:before {
    content: "\e92f";
}

.icon-erp-49:before {
    content: "\e930";
}

.icon-erp-50:before {
    content: "\e931";
}

.icon-erp-51:before {
    content: "\e932";
}

.icon-erp-52:before {
    content: "\e933";
}

.icon-erp-53:before {
    content: "\e934";
}

.icon-erp-54:before {
    content: "\e935";
}

.icon-erp-55:before {
    content: "\e936";
}

.icon-erp-56:before {
    content: "\e937";
}

.icon-erp-57:before {
    content: "\e938";
}

.icon-erp-58:before {
    content: "\e939";
}

.icon-erp-59:before {
    content: "\e93a";
}

.icon-erp-60:before {
    content: "\e93b";
}

.icon-erp-61:before {
    content: "\e93c";
}

.icon-erp-62:before {
    content: "\e93d";
}

.icon-erp-63:before {
    content: "\e93e";
}

.icon-erp-64:before {
    content: "\e93f";
}

.icon-erp-65:before {
    content: "\e940";
}

.icon-erp-66:before {
    content: "\e941";
}

.icon-erp-67:before {
    content: "\e942";
}

.icon-erp-68:before {
    content: "\e943";
}

.icon-erp-69:before {
    content: "\e944";
}

.icon-erp-70:before {
    content: "\e945";
}

.icon-erp-71:before {
    content: "\e946";
}

.icon-erp-72:before {
    content: "\e947";
}

.icon-erp-73:before {
    content: "\e948";
}

.icon-erp-74:before {
    content: "\e949";
}

.icon-erp-75:before {
    content: "\e94a";
}

.icon-erp-76:before {
    content: "\e94b";
}

.icon-erp-77:before {
    content: "\e94c";
}

.icon-erp-78:before {
    content: "\e94d";
}

.icon-erp-79:before {
    content: "\e94e";
}

.icon-erp-80:before {
    content: "\e94f";
}

.icon-erp-81:before {
    content: "\e950";
}

.icon-erp-82:before {
    content: "\e951";
}

.icon-erp-83:before {
    content: "\e952";
}

.icon-erp-84:before {
    content: "\e953";
}

.icon-erp-85:before {
    content: "\e954";
}

.icon-erp-86:before {
    content: "\e955";
}

.icon-erp-87:before {
    content: "\e956";
}

.icon-erp-88:before {
    content: "\e957";
}

.icon-erp-89:before {
    content: "\e958";
}

.icon-erp-90:before {
    content: "\e959";
}

.icon-erp-91:before {
    content: "\e95a";
}

.icon-erp-92:before {
    content: "\e95b";
}

.icon-erp-93:before {
    content: "\e95c";
}

.icon-erp-94:before {
    content: "\e95d";
}

.icon-erp-95:before {
    content: "\e95e";
}

.icon-erp-96:before {
    content: "\e95f";
}

.icon-erp-97:before {
    content: "\e960";
}

.icon-erp-98:before {
    content: "\e961";
}

.icon-erp-99:before {
    content: "\e962";
}

.icon-erp-100:before {
    content: "\e963";
}

.icon-erp-101:before {
    content: "\e964";
}

.icon-erp-102:before {
    content: "\e965";
}

.icon-erp-103:before {
    content: "\e966";
}

.icon-erp-104:before {
    content: "\e967";
}

.icon-erp-105:before {
    content: "\e968";
}

.icon-erp-106:before {
    content: "\e969";
}

.icon-erp-107:before {
    content: "\e96a";
}